
.bg-light-red {
  background-color: #FEF3F2 !important;
}

.bg-white {
  background-color: #FFFFFF !important;
}

.hover-row:hover {
  background-color: #F5F5F5 !important;
}

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  --primary-color: #FFD600;
  --text-muted: #6C757D;
  --danger: #DC3545;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #F9FAFB;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.card {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.progress-bar {
  background-color: var(--primary-color);
}

.btn-warning {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}

.text-muted {
  color: var(--text-muted) !important;
}

.text-danger {
  color: var(--danger) !important;
}

.notification-dropdown {
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  border-radius: 8px !important;
}

.notification-item:hover {
  background-color: #f8f9fa;
}

.dropdown-menu {
  border: none !important;
}

/* Custom switch styles */
.form-switch .form-check-input {
  width: 46px !important;
  height: 24px !important;
  background-color: #E9ECEF;
  border: none;
}

.form-switch .form-check-input:checked {
  background-color: #10B981 !important;
  border-color: #10B981 !important;
}

.form-switch .form-check-input:focus {
  box-shadow: none;
  border-color: rgba(0, 0, 0, 0.25);
}

@media (max-width: 991.98px) {
  .sidebar {
    transform: translateX(-100%);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }

  .sidebar.open {
    transform: translateX(0);
  }
}

.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}


.tournament-card {
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.tournament-cards-container {
  margin-top: 120px;
}

.tournament-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1) !important;
}

.tournament-image-wrapper {
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 8px 8px 0 0;
}

.tournament-image {
  object-fit: cover;
  transition: transform 0.3s ease;
}

.tournament-card:hover .tournament-image {
  transform: scale(1.05);
}

.modal-backdrop {
  background-color: rgba(52, 64, 84, 0.7);
  backdrop-filter: blur(8px);
}

.modal-content {
  border: none;
  box-shadow: 0px 8px 8px -4px rgba(16, 24, 40, 0.03), 0px 20px 24px -4px rgba(16, 24, 40, 0.08);
}
.custom-tooltip {
  background: #101828;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
}

.custom-tooltip .value {
  font-weight: 500;
}
